alembic
aniso8601
blinker
click
Faker
Flask
Flask-Migrate
Flask-RESTful
Flask-SQLAlchemy
flask-swagger-ui
greenlet
gunicorn
importlib-metadata
importlib-resources
itsdangerous
Jinja2
Mako
MarkupSafe
packaging
python-dateutil
pytz
six
SQLAlchemy
SQLAlchemy-serializer
typing_extensions
Werkzeug
zipp
